@use '../../styles/resolutions' as resolutions;

.header__Container {
  box-shadow: 0px 0px 10px #c4c1c1;

  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0.5rem 1rem;
    // padding-right: 0;
    // padding-bottom: 0.5rem;

    @media screen and (max-width: resolutions.$tab_resoltion) {
      padding: 1rem;
    }
  }
}

.site__Logo {
  height: 80px;
  img {
    height: 100%;
  }
}

.header__NavigationContainer {
  display: flex;
  gap: 10rem;

  nav {
    display: flex;
    align-items: flex-end;
    a {
      text-decoration: none;
      color: #5a5858;
      padding: 1rem;
      padding-bottom: 1rem;
      font-weight: 600;
    }
  }

  @media screen and (max-width: resolutions.$tab_resoltion) {
    gap: 3rem;
  }
  @media screen and (max-width: resolutions.$mobile_resoltion) {
    nav {
      display: none;
    }
  }
}

.header__UserActionsContainer {
  display: flex;
  flex-direction: column;
  // gap: 1rem;

  nav {
    display: flex;
    justify-content: flex-end;
    // align-items: flex-end;
    a {
      text-decoration: none;
      color: #5a5858;
      padding: 0.5rem;
      padding-bottom: 1rem;
      font-size: 0.8rem;
    }
  }
  button {
    display: flex;   
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: -0.5rem;
    background-color: #f7f7f7;
    color: #5a5858;
    margin-top: unset;
    width: 100%;
    img {
      height: 100%;
      // fill: #d10057;
    }
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  height: 3rem;

  span {
    position: relative;
    left: 3rem;
    top: 1rem;
  }

  // @media screen and (max-width: resolutions.$tab_resoltion) {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  // }

  @media screen and (max-width: resolutions.$mobile_resoltion) {
    font-size: 12px;
  }
}
